body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:4px;
  top:102px;
  width:990px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:362px;
  top:205px;
  width:440px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:50px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:362px;
  top:309px;
  width:440px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:50px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:362px;
  top:411px;
  width:428px;
  height:45px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:45px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:855px;
  top:630px;
  width:95px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:177px;
  top:196px;
  width:163px;
  height:68px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:68px;
}
#u13 {
  position:absolute;
  left:2px;
  top:26px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:177px;
  top:298px;
  width:158px;
  height:73px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:73px;
}
#u15 {
  position:absolute;
  left:2px;
  top:28px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:177px;
  top:411px;
  width:153px;
  height:43px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:43px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
