body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:98px;
  width:1292px;
  height:662px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:662px;
}
#u1 {
  position:absolute;
  left:2px;
  top:323px;
  width:1288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:430px;
  top:246px;
  width:132px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:845px;
  top:656px;
  width:95px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:400px;
  top:367px;
  width:153px;
  height:43px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:43px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:700px;
  top:232px;
  width:88px;
  height:58px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:58px;
}
#u11 {
  position:absolute;
  left:2px;
  top:21px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:390px;
  top:486px;
  width:220px;
  height:58px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:58px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:730px;
  top:480px;
  width:70px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:330px;
  top:210px;
  width:10px;
  height:380px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:363px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:380px;
}
#u17 {
  position:absolute;
  left:350px;
  top:320px;
  width:620px;
  height:10px;
  opacity:0.200000002980232;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u18 {
  position:absolute;
  left:350px;
  top:450px;
  width:620px;
  height:10px;
  opacity:0.200000002980232;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u19 {
  position:absolute;
  left:350px;
  top:590px;
  width:620px;
  height:10px;
  opacity:0.200000002980232;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u20 {
  position:absolute;
  left:230px;
  top:320px;
  width:90px;
  height:10px;
  opacity:0.200000002980232;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u21 {
  position:absolute;
  left:230px;
  top:450px;
  width:90px;
  height:10px;
  opacity:0.200000002980232;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u22 {
  position:absolute;
  left:230px;
  top:590px;
  width:90px;
  height:10px;
  opacity:0.200000002980232;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u23 {
  position:absolute;
  left:350px;
  top:190px;
  width:620px;
  height:10px;
  opacity:0.200000002980232;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u24 {
  position:absolute;
  left:230px;
  top:190px;
  width:90px;
  height:10px;
  opacity:0.200000002980232;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u25 {
  position:absolute;
  left:246px;
  top:242px;
  width:59px;
  height:43px;
  opacity:0.699999988079071;
  font-size:18px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:43px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:233px;
  top:389px;
  width:84px;
  height:22px;
  opacity:0.699999988079071;
  font-size:18px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:230px;
  top:504px;
  width:90px;
  height:22px;
  opacity:0.699999988079071;
  font-size:18px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:473px;
  top:361px;
  width:5px;
  height:5px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:563px;
  top:389px;
  width:5px;
  height:5px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:473px;
  top:421px;
  width:5px;
  height:5px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:387px;
  top:391px;
  width:5px;
  height:5px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:496px;
  top:294px;
  width:5px;
  height:5px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:575px;
  top:261px;
  width:5px;
  height:5px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:498px;
  top:229px;
  width:5px;
  height:5px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:420px;
  top:259px;
  width:5px;
  height:5px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:740px;
  top:291px;
  width:5px;
  height:5px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:819px;
  top:258px;
  width:5px;
  height:5px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:742px;
  top:226px;
  width:5px;
  height:5px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:664px;
  top:256px;
  width:5px;
  height:5px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:496px;
  top:545px;
  width:5px;
  height:5px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:606px;
  top:512px;
  width:5px;
  height:5px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:498px;
  top:480px;
  width:5px;
  height:5px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:390px;
  top:510px;
  width:5px;
  height:5px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:761px;
  top:549px;
  width:5px;
  height:5px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:808px;
  top:512px;
  width:5px;
  height:5px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:760px;
  top:475px;
  width:5px;
  height:5px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:716px;
  top:510px;
  width:5px;
  height:5px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
