body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:98px;
  width:1292px;
  height:662px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:662px;
}
#u1 {
  position:absolute;
  left:2px;
  top:323px;
  width:1288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:221px;
  width:657px;
  height:339px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:339px;
}
#u3 {
  position:absolute;
  left:2px;
  top:162px;
  width:653px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:379px;
  top:340px;
  width:81px;
  height:83px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:83px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:727px;
  top:467px;
  width:121px;
  height:73px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:73px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:727px;
  top:358px;
  width:120px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:557px;
  top:260px;
  width:132px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:787px;
  top:600px;
  width:95px;
  height:37px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
